*{
    margin: 0;
    padding: o;
}
body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    
}




.sign-button{
   background-color:  #21B573;
   color:white;
   border: none;
   border-radius: 10px;
   padding: 10px 15px;
   margin-left: 20px;
   margin-right: 20px;
   cursor: pointer;
   
}
h6{
    color: red;
}
.color-highlight{
    color: #21B573;
}
h1{
    font-size: 48px;
    font-weight: bold;
}


p{
    color: #6C6B6B;
}
.get-started-button{
    background-color: #21B573;
    border: none;
    border-radius: 30px;
    padding: 12px 36px;
   
}
section{
    height: 500px;
    padding-bottom: 150px;
    margin-bottom: 50px;
}
.half-width1{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width1 img{
    width: 100%;
}
.container-main{
    margin-bottom: 100px;
}
.container3 h1{
    text-align: center;
    margin-bottom: 100px;
}
.card-title{
    color: #413960;
    font-weight: 500;
    font-size: 24px;
}
.container4 h1{
    text-align: center;
}
.container3{
    margin-bottom: 100px;
}
.man{
    width: 40%;
    
}
.container4 h1{
    font-weight: 700px;
    font-size: 48px;
    color:  #000000;
}
.container4 p{
    color: black;
}
.container4{
    margin-bottom: 100px;
}
.container5{
    background-color: #282531;
    padding: 40px;
}
.container5 p{
    color: white;
}
.container5 h3{
    color: white;
}
.container5 footer p{
    color:#CDCDCD;
    font-size: 13px;
}
.container5 footer{
    text-align: center;
    margin-top: 60px;
}